
button{
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 15px;
    background-color:rgb(54, 205, 255);
    color: white;
}
input {
    transition: 0.3s ease; /* Duração mais curta */
    margin: 5px;
    border: none;
    border-radius: 5px;
    padding: 15px;
    background-color: rgb(54, 205, 255);
    color: white;
    align-items: center;
    font-size: 16px; /* Definir uma fonte mais legível */
}

input:focus {
    outline: none; /* Remove a borda padrão ao focar */
    background-color: rgb(40, 170, 220); /* Mudar a cor ao focar */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Adicionar um destaque */
}
input:hover{
    transition:1s ease;
    background-color: aqua;
}
button:hover{
    transition:1s ease;
    background-color: aqua;
}
img{
    width: 250px;
}
.submit input{
position: absolute;
right: 230px;
bottom: 94px;

}
p{
    color: aliceblue;
}
.texto{
    font-size: 20px;
    color: rgb(0, 73, 73);
    font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-style: normal;
}